# MariaDB Ubuntu {{ ansible_distribution_release | title }} repository list
# See https://mariadb.com/kb/en/mariadb-package-repository-setup-and-usage/#platform-support
deb https://dlm.mariadb.com/repo/mariadb-server/{{ mariadb_version }}/repo/ubuntu {{ ansible_distribution_release | lower }} main
deb-src https://dlm.mariadb.com/repo/mariadb-server/{{ mariadb_version }}/repo/ubuntu {{ ansible_distribution_release | lower }} main
